@{
    ViewBag.Title = "TRIO FAQ Edit";
}
    <h2>@ViewBag.Title (@Html.ActionLink("Done", "FAQ", "Home"))</h2>
    <a class="btn btn-primary" href="@Url.Action("FAQAdd","HomeController")">Create New</a>

<!-- Bootstrap FAQ - START -->
<div class="container">
    <br />
        @foreach (var item in Model)
        {
            <p>
                Question:
                @item.QuestionValue
            </p>
            <p>
                Answer:
                @item.AnswerValue
            </p>
            <a class="btn btn-primary" href="@Url.Action("FAQDelete","HomeController", new { value=@item.QuestionID1})">Delete</a> <a class="btn btn-primary" href="@Url.Action("FAQSaveEdit","HomeController", new { value=item.QuestionID1})">Save</a>
            <br/>
        }
</div>
